.pop_up__container {
  animation-name: slideInRight;
  -webkit-animation-name: slideInRight;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -web-kit-animation-timing-function: ease-in-out; }

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes slideOutRight {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    display: block; }
  99% {
    -webkit-transform: translate3d(299%, 0, 0);
    transform: translate3d(299%, 0, 0);
    visibility: hidden;
    display: none; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    display: none;
    visibility: hidden; } }
@keyframes slideOutRight {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    display: block; }
  99% {
    -webkit-transform: translate3d(299%, 0, 0);
    transform: translate3d(299%, 0, 0);
    visibility: hidden;
    display: none; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    display: none;
    visibility: hidden; } }
.revert_animation, #pop_up_notification:checked ~ #pop_up {
  animation-name: slideOutRight;
  -webkit-animation-name: slideOutRight;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  -web-kit-animation-timing-function: ease-in-out; }

.pop_up__container {
  width: 400px;
  height: 40px;
  background-color: white;
  border-radius: 0.5rem;
  z-index: 10;
  position: absolute;
  top: 10px;
  overflow: hidden;
  align-items: center;
  left: calc( 50% - ( 400px / 2 ) ); }
  .pop_up__container .icon, .pop_up__container .icon_grey, .pop_up__container .icon_red, .pop_up__container .icon_yellow, .pop_up__container .icon_green, .pop_up__container .icon_orange, .pop_up__container .close_icon {
    padding: 10px;
    font-weight: bold;
    font-size: 2rem; }
  .pop_up__container .icon_grey {
    background-color: #8795A1;
    color: #F8FAFC; }
  .pop_up__container .icon_red {
    background-color: #CC1F1A;
    color: #F8FAFC; }
  .pop_up__container .icon_yellow {
    background-color: #ffe711;
    color: #F8FAFC; }
  .pop_up__container .icon_green {
    background-color: #1F9D55;
    color: #F8FAFC; }
  .pop_up__container .icon_orange {
    background-color: #DE751F;
    color: #F8FAFC; }
  .pop_up__container .close_icon {
    color: #22292F; }
    .pop_up__container .close_icon:hover {
      color: #3D4852; }
  .pop_up__container .message, .pop_up__container .title {
    font-size: 0.9rem;
    padding-left: 1px; }
  .pop_up__container .title {
    padding-right: 2px;
    font-weight: bold; }

.input__hidden {
  display: none;
  visibility: hidden; }

/*# sourceMappingURL=notifications_styles.css.map */
